PORT=8787
FRONTEND_ORIGIN=http://localhost:8000
UPI_ID=8796332176@upi
CAMPAIGN_EMAIL=alexjuniorantwi1@gmail.com
SMTP_APP_PASSWORD=replace_with_gmail_app_password
BANK_NAME=State Bank of India
BANK_ACCOUNT_NAME=Alex Junior Antwi
BANK_ACCOUNT_NUMBER=replace_with_account_number
BANK_IFSC=replace_with_ifsc
